@import "bootstrap";
@import "./GameSettings.css";

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}

button {
  display: flex !important;
  align-items: center !important;
}

.main {
  min-height: 100vh;
}

.round-form,
.topbar,
.footer,
.score-board {
  background-color: rgb(10, 1, 39);
}

.slash {
  transform: rotate(130deg);
  margin-left: -7.8px;
  margin-right: 7.8px;
  color: #0dcaf0;
}

.footer {
  .footer__text {
    font-size: 0.5rem;
  }
}
