.burgerMenu {
  .burgerMenu__bars {
    flex-grow: 1;
    height: 4px;
    background-color: white;
    min-width: 24px;
    border-radius: 10px;
  }
}

.modal-container {
  position: fixed;
  display: flex;
  justify-content: end;
  top: 0;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  .modal-container__content {
    background-color: rgb(70, 70, 70);
    height: 100%;
    animation: slidein 0.5s;
  }
}

.m-c__closed {
  display: none;
}

.m-c__c__open {
  animation: slidein 0.5s;
}

.m-c__c__closed {
  animation: slideout 0.5s !important;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideout {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
